<main>

    <h2>Panier</h2>

    <section *ngIf="basket.length >0 ; else otherContent">
    <div class="lien flex">
        <a class="retour" routerLink="/category">Retour aux produits</a>
        <button class="reset" (click)="resetBasket()">Vider le panier</button>
    </div>

    <app-basket-product-card></app-basket-product-card>
    <p class="total"><b>Total</b>: {{ this.basketService.basketTotalPrice }}  €</p>

    <div class="flex column">
        <button class="envoyer" routerLink="/summary">Table XX : Envoyer la commande en cuisine</button>
        <a routerlink="">Votre table n'est pas la XX ?</a>
    </div>

</section>

<section class="otherContent">
<ng-template #otherContent>Vous n'avez aucun article dans le panier.</ng-template>
<a class="retour" routerLink="/category">Retour aux produits</a>

</section>
</main>