header {
    top:0;
    height: 70px;
    background-color: var(--darkblue);
    color: var(--whitecloud);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 100%;
  
}


h1 {
    font-size: 20px;
    font-style: italic;
    font-family: var(--playfair);
}

nav {
    display: flex;
    font-family: var(--inter);
    color: var(--darkblue);
    gap: 25px;
}

svg {
    fill: var(--darkblue);
}

.white-background {
    background-color: var(--whitecloud);
    padding: 8px 13px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}