img{
    width:207px
}

ul{
    background-color: white;
    padding: 15px 13px 11px 13px;
}

li{
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.padding{
    padding: 10px 0 10px 0;
}

.font{
    font-family: 'Playfair Display', serif;
    font-weight:700;

    
}