h2 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin: 30px 0 40px;
}

p {
    font-weight: 700;
    font-size: 16px;
}

div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

hr {
    margin-bottom: 15px;
    border: rgba(217, 217, 217, 1) 0.8px solid;
}

hr:last-of-type {
    /* Ne pas afficher la dernière ligne horizontale */
    display: none;
}

input {
    width: 23px;
    height: 23px;
}