h2 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin: 30px 0 40px;
}

p {
    font-weight: 700;
    font-size: 16px;
}

div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}

hr {
    margin-bottom: 15px;
    border: rgba(217, 217, 217, 1) 0.8px solid;
}

hr:last-of-type {
    /* Ne pas afficher la dernière ligne horizontale */
    display: none;
}

input[type="checkbox"] {
    width: 25px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

.round-checkbox {
    background-color: var(--whitecloud);
    border: 3px var( --darkblue) solid;
    width: 23px;
    height: 23px;
    border-radius: 50px;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    transition: all 0.2s;
}

input[type="checkbox"]:checked+.round-checkbox {
    background-color: var( --darkblue);
    border: 3px var( --darkblue) solid;
    transition: all 0.2s;
}

