main{
    width: 759px;
    margin: auto;
    color: var(--darkblue);
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-row-gap: 28px;
}


h2{
    font-family: 'Playfair Display', serif;
    padding-block-end: 28px;
    font-style: italic;
}

/* toggle */


form{
    display: flex;
    padding: 64px 0 38px 0;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    gap: 16px;


}

label, input{
    /* border: 1px solid red; */
    padding: 6px 16px 6px 16px;
    border-radius: 50px;
    background-color: white;
    
}


/* toggle */
label a:hover {
    color: white;
    background-color: var(--darkblue);
}

label a:active{
    color: white;
    background-color: var(--darkblue);

}


input{
    opacity: 0;
}

input[type ="checkbox"]:checked + label {
    background-color: var(--darkblue);
    color: white;
}

