<main>
    <app-tag-type></app-tag-type>

    <h2>Les Pizzas della Mamma</h2>
    <div class="grid">
        <ng-container *ngFor="let product of products">
            <app-product-card *ngIf="product.category === 'pizza'" [product]= "product"></app-product-card>
        </ng-container>  
    </div>

    <br>
    <br>  
    <br>


    <h2>Les Desserts della Mamma</h2>
    <div class="grid">
        <ng-container *ngFor="let product of products">
            <app-product-card *ngIf="product.category === 'dessert'" [product]= "product"></app-product-card>
        </ng-container>
    </div>
    <br>
    <br>
    <br>
    
<h2>Les Boissons della Mamma</h2>
    <div class="grid">
        <ng-container *ngFor="let product of products">
            <app-product-card *ngIf="product.category ==='drink'" [product]="product"></app-product-card>
        </ng-container>
    </div>
</main>


