<main>

    <a class="retour" routerLink="/category" >Retour aux produits</a>

    <ul class="flex column">
        <li *ngFor="let IBasketProduct of basket; let index = index">
            <article class="flex">
                <img src="{{ IBasketProduct.product.picture }}" alt="{{ IBasketProduct.product.title }}">
                <div class="information flex column">
                    <div>
                        <p>{{ IBasketProduct.product.title}}</p>
                        <p><b>{{ IBasketProduct.product.price}} €</b></p>
                    </div>
                    <div>
                        <p>Ingrédients</p>
                        <p>Extras</p>

                    </div>

                </div>
                <button class="supprimer" (click)="removeProduct(index)">X</button>

            </article>

        </li>
    </ul>

    <p class="total"><b>Total</b>:  €</p>
    <button class="envoyer">Table XX : Envoyer la commande en cuisine</button>
    <a routerlink="/">Votre table n'est pas la XX ?</a>

</main>