<main>

    

    <ul class="flex column">
        <li *ngFor="let IBasketProduct of basket; let index = index">
            <article class="flex">
                <img src="{{ IBasketProduct.product.picture }}" alt="{{ IBasketProduct.product.title }}">
                <div class="information flex column">
                    <div>
                        <p>{{ IBasketProduct.product.title}}</p>
                        
                        <p><b>{{ IBasketProduct.product.price/100| number :'1.2-2'}} €</b></p>
                        <p><b> prix custom {{ customPrice}} €</b></p>
                        
                        
                    </div>
                    <div>
                        <p>Ingrédients</p>
                        <p>Extras</p>

                    </div>

                </div>
                <button class="supprimer" *ngIf="this.isButtonVisible" (click)="removeProduct(index)">X</button>

            </article>

        </li>
    </ul>

  

</main>