<main>



    <ul class="flex column">
        <li *ngFor="let IBasketProduct of basket; let index = index">
            <article class="flex">
                <img src="assets/img/{{ IBasketProduct.product.picture }}" alt="{{ IBasketProduct.product.title }}">
                <div class="information flex column">
                    <div>
                        <p>{{ IBasketProduct.product.title}}</p>

                        <!-- <p><b>{{ IBasketProduct.product.price/100| number :'1.2-2'}} €</b></p> -->
                        <p><b>prix custom €</b></p>


                    </div>
                    <div>
                        <ng-container
                            *ngFor="let ingredient of IBasketProduct.product.includedIngredients ; index as i ">
                            <!-- <p *ngIf= "ingredient[i].isSelected === false "> 0</p> -->
                            <span *ngIf="!ingredient.isSelected"> Ø {{ ingredient.ingredient.title }}</span>
                        </ng-container>
                        <br>
                        <!-- <p>Extras</p> -->
                        <ng-container *ngFor="let extra of IBasketProduct.product.extras ; index as i ">
                            <!-- <p *ngIf= "ingredient[i].isSelected === false "> 0</p> -->
                            <span *ngIf="extra.quantity > 0 "> Extra : {{ extra.quantity}} {{ extra.ingredient.title }} (+  {{extra.quantity * extra.additionalPrice}} )</span>
                        </ng-container>





                    </div>

                </div>
                <button class="supprimer" *ngIf="this.isButtonVisible" (click)="removeProduct(index)">X</button>

            </article>

        </li>
    </ul>



</main>